
/* task 6 */
h2,h3{
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: center;
}
h3{
  font-style:oblique;
}
span.spn {
  display: flex;
  align-items: center;
}
p{
  margin: 0px;
  align-items: center;
  margin: 3px;
}
input{
  display: flex;
  align-items: center;
}

span{
  margin: 3px;
  color: white;
  border-radius: 5px;
  padding: 5px;  
}

p.red {
  color:  red;
  text-decoration: underline;
}

p.green {
  color: green;
  text-decoration: underline;
}

p.blue {
  color:  blue;
  text-decoration: underline;
}

span.red {  
  background-color: red;
}


span.green {
  background-color: green;
}

span.blue {
  background-color: blue;
}

input[name="red"]:checked~ span.red{  
  display: none;
}

input[name="green"]:checked~ span.green{  
  display: none;
}

input[name="blue"]:checked~ span.blue{  
  display: none;
}

/* lesson 4 */

menu.menu1{
  display: flex;
  background-color: #AF09FF;
  padding: 0;
  margin: 0;
  
}
ul.menu1{
  display: inline-block;
  width: 900px;
  padding: 0;
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  align-content: center;
}
ul.menu1>li{
  display: inline;
  color:white;
  background-color: rgb(175, 174, 174,0);
  font-family: 'Economica';
  font-size: 25px;
  font-weight: bold;
  margin-inline: 5px;
  padding: 2px;
} 
ul.menu1>li:hover{
  color:#A0A0A0;
  background-color: #EEEEEE;
  padding: 2px;
} 
li.fl{
  float: right;
  margin-top: -2px;
  margin-bottom: -2px;
}
span.pager{
  display: block;
  color: #AF09FF;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  font-family: 'Economica';
  font-weight: bold;
  text-align: center;
  user-select: none;
}
#first, #prev, #next, #last{
  display: inline;
}
div#pagerPage{
  display: inline-block;
  color: #AF09FF;
}
div#pagerPage>p{
  display: inline-block;
  border: 2px solid rgb(167, 165, 165,50);
  border-radius: 5px;
  width: 20px;
}
p.current{
  background-color: rgb(167, 167, 167);
}
p.pager:hover{
  background-color: #AF09FF;
  color: white;
}
#first:hover, #prev:hover, #next:hover, #last:hover {
  background-color: #AF09FF;
  color: white;
}

